<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="row" value="0" />
		<add key="column" value="0" />
		<add key="seat_num" value="0" />
		<add key="seat_available" value="false" />
		<add key="seat_selected" value="false" />
		<add key="select_mode" value="0" />
		<add key="login" value="none" />
	</appSettings>
</configuration>